<template>
  <input-data></input-data>
  <survey-data></survey-data>
  <load-data></load-data>
</template>

<script>
import InputData from "./InputData.vue";
import LoadData from "./LoadData.vue";
import SurveyData from "./SurveyData.vue";
export default {
  components: {
    InputData,
    LoadData,
    SurveyData,
  },
};
</script>