<template>
  <form class="container" @submit.prevent="saveInput">
    <div>
      <label for="name">Name</label>
      <input id="name" name="name" v-model="enteredName" type="text" />
    </div>
    <div>
      <label for="age">Age</label>
      <input id="age" name="age" v-model="enteredAge" type="number" />
    </div>
    <div>
      <p><strong>Where you get informed, mostly?</strong></p>
      <label for="google">Google</label>
      <input
        type="radio"
        name="google"
        id="google"
        v-model="informed"
        value="google"
      />
      <label for="news">News</label>
      <input
        type="radio"
        name="news"
        id="news"
        v-model="informed"
        value="news"
      />
      <label for="news">Gossip</label>
      <input
        type="radio"
        name="gossip"
        id="gossip"
        v-model="informed"
        value="gossip"
      />
    </div>
    <div>
      <p><strong>What you do in free time?</strong></p>
      <label for="music">Music</label>
      <input
        type="checkbox"
        name="music"
        id="music"
        v-model="freeTime"
        value="music"
      />
      <label for="books">Books</label>
      <input
        type="checkbox"
        name="books"
        id="books"
        v-model="freeTime"
        value="books"
      />
      <label for="games">Video Games</label>
      <input
        type="checkbox"
        name="games"
        id="games"
        v-model="freeTime"
        value="games"
      />
      <label for="socialize">Socialize</label>
      <input
        type="checkbox"
        name="socialize"
        id="socialize"
        v-model="freeTime"
        value="socialize"
      />
      <label for="other">Other</label>
      <input
        type="checkbox"
        name="other"
        id="other"
        v-model="freeTime"
        value="other"
      />
    </div>
    <div>
      <p class="terms">
        If you need, refer to our
        <a href="https://google.com" target="_blank">privacy policy</a> before
        agreeing.
      </p>
      <input type="checkbox" name="terms" id="terms" v-model="termsAgreed" />
      <label for="terms">I agree my data to be saved.</label>
    </div>
    <div>
      <button type="submit">Save</button>
      <span v-if="isLoading">Loading...</span>
      <span v-if="success">Success!</span>
      <span v-if="error">Request failed. Try again later!</span>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      enteredName: null,
      enteredAge: null,
      informed: null,
      freeTime: [],
      termsAgreed: false,
      error: null,
      success: false,
      isLoading: false,
    };
  },
  methods: {
    saveInput() {
      this.isLoading = true;
      this.success = null;
      this.error = null;
      fetch(
        "https://testing-http-7fcd5-default-rtdb.firebaseio.com/users.json",
        {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            name: this.enteredName,
            age: this.enteredAge,
            informed: this.informed,
            freeTime: this.freeTime,
          }),
        }
      )
        .then((response) => {
          if (response.ok) {
            this.isLoading = false;
            this.success = true;
          } else {
            throw new Error("Could not save data! Try again later...");
          }
        })
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
          this.error = true;
          return;
        });
      this.enteredName = "";
      this.enteredAge = "";
    },
  },
  watch: {
    success() {
      setTimeout(() => {
        this.success = null;
      }, 3000);
    },
  },
  error() {
    setTimeout(() => {
      this.error = null;
    }, 3000);
  },
};
</script>

<style scoped>
p {
  line-height: 15px;
  margin: 15px;
}
button {
  margin: 10px;
  padding: 3px 10px;
}
label {
  margin: 3px;
}
#age {
  margin: 5px;
  margin-left: 12px;
}
.terms {
  font-style: italic;
}
.container {
  margin: 30px;
  padding: 30px;
  border: 1px solid grey;
}
</style>