<template>
  <div class="container">
    <button @click="loadData">Load Data</button>
    <div class="status-bar">
      <p v-if="state.users.isLoading">Loading...</p>
      <p v-if="loadedData.length === 0 && !state.users.isLoading">
        No data found!
      </p>
      <p></p>
    </div>
    <h3 v-if="ratings.length > 0">
      Your rating is {{ averageRating }} of total {{ ratingCounter }} ratings!
    </h3>
    <button @click="ratingsModalEnable">Click Here to see the ratings</button>
    <div class="rating-modal container" v-if="ratingsModal">
      <ul>
        <li v-for="item in ratings" :key="item.id">
          <p v-if="ratings.length === 0">No ratings found.</p>
          <p v-else>
            <strong>{{ item.name }} </strong>
            has given rating of:
            {{ item.rating }}
          </p>
        </li>
      </ul>
    </div>
    <ul>
      <li v-for="item in loadedData" :key="item.id">
        Name: {{ item.name }} - Age: {{ item.age }} - Interests:
        {{ item.freeTime }} - Informed By: {{ item.informed }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loadedData: [],
      error: null,
      state: {
        users: {
          isLoading: false,
          success: false,
          error: false,
        },
        ratings: {
          isLoading: false,
          success: false,
          error: false,
        },
      },
      ratingsModal: false,
      averageRating: 0,
      totalRating: 0,
      ratingCounter: 0,
      ratings: [],
    };
  },
  methods: {
    ratingsModalEnable() {
      this.ratingsModal = !this.ratingsModal;
    },
    loadData() {
      this.state.users.isLoading = true;
      fetch("https://testing-http-7fcd5-default-rtdb.firebaseio.com/users.json")
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
        })
        .then((data) => {
          const newData = [];
          for (const id in data) {
            newData.push({
              id: id,
              name: data[id].name,
              age: data[id].age,
              informed: data[id].informed,
              freeTime: data[id].freeTime,
            });
          }
          this.state.users.isLoading = false;
          this.loadedData = newData;
        })
        .catch((error) => {
          if (error) {
            this.state.users.isLoading = false;
            this.state.users.error = true;
          }
        });
      this.loadRatings();
    },
    loadRatings() {
      fetch(
        "https://testing-http-7fcd5-default-rtdb.firebaseio.com/ratings.json"
      )
        .then((response) => {
          if (response.ok) {
            this.success = true;
            this.error = false;
            return response.json();
          }
        })
        .then((data) => {
          let totalRating = 0;
          let ratingCounter = 0;
          const ratings = [];
          for (const id in data) {
            totalRating = totalRating + data[id].rating;
            ratingCounter = ratingCounter + 1;
            ratings.push({
              id: id,
              name: data[id].name,
              rating: data[id].rating,
            });
          }
          this.isLoading = false;
          this.totalRating = totalRating;
          this.ratingCounter = ratingCounter;
          this.averageRating = (totalRating / ratingCounter).toFixed(1);
          this.ratings = ratings;
          console.log(this.ratings);
          console.log(this.totalRating / this.ratingCounter);
        });
    },
  },
};
</script>

<style scoped>
p {
  line-height: 15px;
}
button {
  margin-top: 10px;
  padding: 3px 10px;
}
label {
  margin: 3px;
}
.terms {
  font-style: italic;
}
.container {
  margin: 30px;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  border: 1px solid grey;
  text-align: center;
}
ul {
  padding-top: 12px;
}
</style>
