<template>
  <div class="container">
    <form @submit.prevent="sendSurvey">
      <div>
        <label>Name</label>
        <input id="survey-name" name="survey-name" v-model="enteredName" />
      </div>
      <div class="survey-buttons">
        <button type="button" @click="setRating(1)">1</button>
        <button type="button" @click="setRating(2)">2</button>
        <button type="button" @click="setRating(3)">3</button>
        <button type="button" @click="setRating(4)">4</button>
        <button type="button" @click="setRating(5)">5</button>
      </div>
      <div>
        <button type="submit">Rate!</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      success: null,
      isLoading: null,
      error: null,
      enteredName: null,
      rating: null,
      ratings: [],
    };
  },
  methods: {
    sendSurvey() {
      this.isLoading = true;
      this.success = null;
      this.error = null;
      fetch(
        "https://testing-http-7fcd5-default-rtdb.firebaseio.com/ratings.json",
        {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            name: this.enteredName,
            rating: this.rating,
          }),
        }
      )
        .then((response) => {
          if (response.ok) {
            this.isLoading = false;
            this.success = true;
            this.error = false;
          } else {
            throw new Error("Something went wrong");
          }
        })
        .catch((error) => {
          console.log(error);
          this.isLoading = false;
          this.error = true;
          return;
        });
      this.rating = null;
      this.enteredName = null;
    },
    setRating(rating) {
      this.rating = rating;
      console.log(rating);
    },
  },
};
</script>

<style scoped>
p {
  line-height: 15px;
  margin: 15px;
}
button {
  margin: 6px;
  margin-left: 8px;
  padding: 3px 10px;
}
label {
  margin: 3px;
}
#age {
  margin: 5px;
  margin-left: 12px;
}
.terms {
  font-style: italic;
}
.container {
  margin: 30px;
  padding: 30px;
  border: 1px solid grey;
  text-align: center;
}
</style>