<template>
  <the-header></the-header>
  <data-screen></data-screen>
</template>

<script>
import DataScreen from "./components/data/DataScreen.vue";
import TheHeader from "./components/UI/TheHeader.vue";
export default {
  components: { DataScreen, TheHeader },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
li {
  line-height: 30px;
}
.status-bar {
  min-height: 23px;
  margin-top: 15px;
}
</style>
